<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.8">
        
        <title>Biolab-Solicitudes</title>

        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/biologia.png') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div id="listado-solicitudes">
            <h1 class="verde-claro">Peticiones de usuarios</h1>
            {% if solicitudes %}
                {% for item in solicitudes %}
                <div class="solicitud-item">
                    <p class="titulos-papers">{{ item[0] }} || {{ item[1] }}</p>
                    <div class="botones-container">
                        <form action="/aceptar-solicitud" method="post">
                            <img src="{{ url_for('static', filename='images/aceptar.png') }}" alt="aceptar">
                        </form>
                        <form action="/rechazar-solicitud" method="post">
                            <img src="{{ url_for('static', filename='images/rechazar.png') }}" alt="rechazar">
                        </form>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </body>
</html>